# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock

# Android
.gradle/
local.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# Temporary Archives & Extracted builds
builds/listening_aid_extracted/
builds/*.zip

# IDE & Editors
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS Files
Thumbs.db
[Dd]esktop.ini
.DS_Store

# Compiled Android builds
*.apk
